.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button,
.sign-up {
    background-color: #3882F6;
}

.hero-text button {
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
}

.hero-text .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info-head {
    font-size: 36px;    
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}