body {
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px 160px 60px 160px;
}

.hero .placeholder-image {
    flex: 1;
    margin: 0 0 0 20px;
    max-width: 300px;
    border-style: dashed;
    border-color: #3882F6;
}

.hero-text button {
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.hero-text .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 200px;
}

.info-cards {
    display: flex;
    gap: 30px;
    padding: 30px 0 20px 0;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .placeholder-image {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-style: dashed;
    border-color: #3882F6;
}

.info-head {
    font-size: 36px;    
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 30px 220px;
}

.sign-up {
    margin: 20px 80px;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button,
.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
}

.sign-up button{
    border-color: #F9FAF8;
    font-size: 12px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    padding: 10px;
}

.sign-up-text .bold {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.sign-up-text .subtext {
    font-size: 16px;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}