body {
    padding: 0%;
    margin: 0;
}

.header,
.footer,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    border: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 20px 80px;
}

img {
    width: 600px;
}

.hero-text button {
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
}

.hero-text .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

.info-cards {
    display: flex;
    gap: 20px;
}

.info-head {
    font-size: 36px;    
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 20px 80px;
}

.sign-up {
    margin: 20px 80px;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button,
.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
}

.sign-up button{
    border-color: #F9FAF8;
    font-size: 12px;
    color: #F9FAF8;
    font-weight: bold;
    border-style: solid;
}

.sign-up-text .bold {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.sign-up-text .subtext {
    font-size: 16px;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}